name: Build Geode Mod

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Geode Mod
        uses: geode-sdk/build-geode-mod@main
        with:
          target: Win64

      - name: List Geode SDK headers
        run: |
          echo "GEODE_SDK = $Env:GEODE_SDK"
          Get-ChildItem -Recurse "$Env:GEODE_SDK\include" | Select-Object FullName
